{% extends "base.html" %}

{% block content %}
<div id="banner-facts">
    <div id="banner-text-1">ЭКСПЕДИЦИИ</div>
    <div id="banner-text-2">Космическое туристическое агентство "СТРАННИК"</div>
</div>
<div style="margin-bottom: 10vh; margin-top: 10vh; width: 100vw;">
    <p id="parag">1. Грави-гольф: Игра в гольф в условиях переменной гравитации, где траектория мяча зависит от положения соседних планет.</p>
<p id="parag">2. Кросс-системный фестиваль: Еженедельное шоу, транслируемое одновременно на все семь планет системы с участием голографических артистов.</p>
<p id="parag">3. Трансфер на скатах: Передвижение между жилыми модулями в герметичных капсулах, которые везут прирученные морские обитатели.</p>
<p id="parag">4. Глубоководная медитация: Сеансы йоги в залах с панорамным обзором на глубине 300 метров в полной акустической изоляции.</p>
<p id="parag">5. Квантовое охлаждение: Индивидуальные климатические капсулы, поддерживающие идеальные +18°C даже при +2000°C за бортом.</p>
<p id="parag">6. Ужин «Твердый углерод»: Молекулярная кухня, использующая съедобные нано-кристаллы, меняющие вкус прямо во рту.</p>
<p id="parag">7. Сонный сомелье: Индивидуальный подбор спектра освещения в номере для идеальной имитации любого земного времени суток.</p>
<p id="parag">8. Экспедиции «Шаг в тень»: Прогулки на грави-платформах в темную сторону планеты, где звезды светят в 10 раз ярче из-за отсутствия атмосферных помех.  </p>
</div>
<div style="height: 4px; background-color: #FFFFFF; width: 100vw;"></div>
<footer id="next">
    <a href="/"><button>На главную</button></a>
</footer>
{% endblock %}