{% extends "base.html" %}

{% block content %}
<div id="banner">
    <div id="banner-text-1">СТРАННИК</div>
    <div id="banner-text-2">Космическое туристическое агентство</div>
</div>
<div id="choosee">
    <a href="planets"><div id="choose-11">
        <div>
            <p>ПЛАНЕТЫ</p>
        </div>
    </div>
    </a>
    <a href="hotels"><div id="choose-21">
        <div>
            <p>ОТЕЛИ</p>
        </div>
    </div></a>
    <a href="expeditions"><div id="choose-41">
        <div>
            <p>ЭКСПЕДИЦИИ</p>
        </div>
    </div>
    </a>
</div>
<div style="margin-bottom: 10vh">
    <p id="para">Наш сайт позволит узнать о различных космических экспедициях, даст информацию о планетах и межгалактических отелях</p>
</div>
<footer id="podval">
    <div id="futer">   
        <div id="dop">
            <h2>Дополнительно</h2>
            <a href="#"><p>О нас</p></a>
        </div>
        <div id="gorlin">
            <h2>Горячая Линия</h2>
            <p>+7 900 876 55 44</p>
        </div>
        <div id="addr">
            <h2>Адрес</h2>
            <p>ул. Космонавтов, 20/3,</p>
            <p> Липецк, Липецкая обл</p>
        </div>
    </div>
</footer>
{% endblock %}