{% extends "base.html" %}

{% block content %}
<div id="banner-monuments">
    <div id="banner-text-1">МЕЖПЛАНЕТНЫЕ ОТЕЛИ</div>
    <div id="banner-text-2">Космическое туристическое агентство "СТРАННИК"</div>
</div>
<div id="red-sq">
    <div id="lef">
    <img src="../static/img/kreml.jpg" alt=""></div>
    <div id="right"><h2>Глизе-581g «Изумрудный Сад» Отель: Сумеречный Полог</h2>
    <p id="para">Этот отель не построен на поверхности, он буквально вплетен в кроны гигантских светящихся деревьев на границе вечного дня и ночи. Жилые модули — это прозрачные капли из био-полимера, подвешенные на высоте 200 метров. Здесь вы засыпаете под ритмичное пульсирование леса и просыпаетесь в лучах застывшего на горизонте солнца. Это место для тех, кто ищет единения с природой, которая никогда не спит.</p></div>
</div>
<div id="rodina-matb">
    <div id="lef">
    <img src="../static/img/rodina.jpg" alt=""></div>
    <div id="right"><h2>55 Рака e «Алмазный Берег» Отель: Дворец Карат </h2>
    <p id="para"> Добро пожаловать в самое дорогое здание в известной Вселенной. Отель представляет собой колоссальный цельный кристалл, защищенный магнитным щитом от жара местной звезды. Внутри — прохлада, стерильность и блеск, от которого захватывает дух. Стены номеров отполированы до зеркального блеска, а полы выполнены из графитовых плит, мягких как бархат. 
</p></div>
</div>
<div id="red-sq">
    <div id="lef">
    <img src="../static/img/kazan.jpg" alt=""></div>
    <div id="right"><h2>Кеплер-22b «Океания» Отель: Бездонный Дрейф </h2>
    <p id="para"> Огромная плавучая платформа, 90% помещений которой находятся под водой. Главный холл — это прозрачная сфера диаметром в полкилометра, вокруг которой курсируют стаи неоновых существ. Отель постоянно перемещается по течению, следуя за миграцией морских гигантов, чтобы обеспечить гостям лучший вид на подводную жизнь экзопланеты.</p></div>
</div>
<div id="rodina-matb">
    <div id="lef">
    <img src="../static/img/piter.jpg" alt=""></div>
    <div id="right"><h2>HD 189733b «Стеклянный Ветер» Отель: Крепость Эгида </h2>
    <p id="para"> Отель для искателей острых ощущений, встроенный в скалистый хребет и защищенный сверхпрочными силовыми полями. Это технологическая цитадель посреди хаоса. Стеклянный дождь, летящий со скоростью звука, разбивается о купол отеля, создавая невероятное лазерное шоу. Внутри — атмосфера закрытого клуба для элиты, предпочитающей наблюдать за апокалипсисом с бокалом редкого вина. 
</p></div>
</div>
<div id="red-sq">
    <div id="lef">
    <img src="../static/img/vasya.jpg" alt=""></div>
    <div id="right"><h2>Проксима Центавра b «Ржавый Каньон» Отель: Приют Пыли и Звезд </h2>
    <p id="para"> Бутик-отель в стиле индустриального шика, расположенный на краю самого глубокого каньона системы. Архитектура отеля вдохновлена первыми колониальными модулями, но с интерьерами королевского уровня. Здесь ценится суровая красота пустыни и возможность увидеть три солнца, встающих над оранжевыми песками.
</p></div>
</div>
<div style="height: 4px; background-color: #FFFFFF; width: 99.2vw;"></div>
<footer id="next">
    <a href="/"><button>На главную</button></a>
</footer>
{% endblock %}