{% extends "base.html" %}

{% block content %}
<div id="banner-narodi1">
    <div id="banner-text-1">ПЛАНЕТЫ</div>
    <div id="banner-text-2">Космическое туристическое агентство "СТРАННИК"</div>
</div>
<div id="russkie">
    <div id="left">
        <h2>Глизе-581g — «Изумрудный Сад» </h2>
    </div>
    <div>
    <p id="para1">Мир застывшего заката. Планета находится в приливном захвате: она всегда обращена к своей звезде одной стороной, создавая зону вечных сумерек на границе света и тени.  Плюсы: * Флора «Аватара»: Местные леса состоят из грибовидных структур, которые общаются между собой электрическими импульсами. Вечером вы можете наблюдать «световые волны», пробегающие по лесу. Стабильная терморегуляция: В сумеречной зоне температура всегда держится на отметке +22°C. Никаких кондиционеров, только свежий воздух, насыщенный ионами.  Минусы: Вестибулярный диссонанс: Отсутствие смены дня и ночи сбивает циклы сна. Отели используют системы имитации «земного утра», чтобы вы могли проснуться. Гравитационный фитнес: Из-за массы планеты в 1.5 раза больше Земли, даже поход за завтраком превращается в тренировку в спортзале. </p>
    </div>
</div>
<div id="udmurti">
    <div id="left">
        <h2 style="font-size: 6.93vh; padding-top: 10vh;">55 Рака e — «Алмазный Берег»</h2>
    </div>
    <div>
    <p id="para2">Планета-сокровище. Под воздействием колоссального давления и температур углерод здесь превратился в кристаллические горы. Это место для тех, кто ценит ослепительную роскошь в буквальном смысле.  Плюсы: Геология как искусство: Вы будете жить в модулях, высеченных прямо внутри гигантских алмазных массивов. Стены вашего номера — это многотонные драгоценные камни. Индустриальный туризм: Экскурсии к «кипящим гейзерам», которые выбрасывают в разреженную атмосферу алмазную крошку, создавая сверкающие облака.  Минусы: Акустика «Стеклянного дома»: Алмаз отлично проводит звук. Несмотря на изоляцию, иногда слышны вибрации недр планеты, напоминающие низкий гул. Жесткое излучение: Из-за близости к звезде выходить на открытые площадки можно только в тяжелых свинцовых панорамных костюмах.</p>
    </div>
</div>
<div id="bashrc">
    <div id="left">
        <h2 style="font-size: 6.93vh; padding-top: 10vh;">Кеплер-22b — «Океания»</h2>
    </div>
    <div>
    <p id="para2">Глобальный океан глубиной в сотни километров. Здесь нет суши, только бесконечный лазурный горизонт и плавучие мега-полисы, дрейфующие по течению.  Плюсы: Био-дайвинг: Встреча с «Кеплеровскими Левиафанами» — мирными гигантами размером с авианосец, которые позволяют туристам плавать рядом. Водная гастрономия: Единственное место в галактике, где можно попробовать блюда из «плазмо-планктона», который светится прямо у вас в тарелке.  Минусы: Абсолютная изоляция: Вокруг на тысячи километров только вода. У некоторых туристов это вызывает «синдром открытого моря» (агорафобию). Коррозийная среда: Из-за специфического состава воды любые личные вещи, не защищенные нано-покрытием, мгновенно окисляются.</p>
    </div>
</div>
<div id="komi2">
    <div id="left">
        <h2 style="font-size: 6.93vh; padding-top: 10vh;">HD 189733b — «Стеклянный Ветер»</h2>
    </div>
    <div>
    <p id="para2">Сапфировая жемчужина со свирепым характером. Это курорт для тех, кому приелся спокойный отдых и кто хочет почувствовать мощь первозданной стихии.  Плюсы: Симфония шторма: Из окон укрепленных бункеров открывается вид на синие дожди, которые из-за преломления света выглядят как летящие лазерные лучи. Кинетическая энергия: Отели работают на энергии ветра, что позволяет создавать внутри невероятные аттракционы — например, аэротрубы с ускорением 5G.  Минусы: Звуковой барьер: Постоянные сверхзвуковые хлопки снаружи требуют установки в номерах систем активного противошума «Silent Sphere». Ограничение по весу: Ветер настолько силен, что передвижение между модулями разрешено только по магнитным рельсам. </p>
    </div>
</div>
<div id="yakuti">
    <div id="left">
        <h2 style="font-size: 6.93vh; padding-top: 10vh;">Проксима Центавра b — «Ржавый Каньон»</h2>
    </div>
    <div id="right">
    <p id="para2">Пустынный мир в системе Альфа Центавра. Идеальное место для ретро-футуристического отдыха: пылевые гонки, скалолазание и лучшие обсерватории.  Плюсы: Ралли «Три Солнца»: Гонки на багги через каньоны, когда на горизонте одновременно заходят две звезды, а третья только встает. Низкая задержка связи: Единственная экзопланета, откуда можно позвонить на Землю и получить ответ меньше чем через 9 лет. Почти «соседний двор».  Минусы: Железная пыль: Местная пыль магнитится. После прогулки вам придется проходить через специальный демагнитизатор, чтобы очистить одежду.
Аскетизм: Вода здесь — самый дорогой ресурс. Душ заменен на ультразвуковую очистку пор. </p>
    </div>
</div>
<div style="height: 0.4vh; background-color: #FFFFFF; width: 99.2vw; margin-top: 0.8vh;"></div>
<footer id="next">
    <a href="/"><button>На главную</button></a>
</footer>
{% endblock %}