{% extends "base.html" %}

{% block content %}

<h1 style="text-align: center; color: #821902; font-weight: bold; margin-bottom: 40px">Список Акций</h1>
<div id	="igri">
	<div>
		<img style="margin-right: 200px; width: 200px; height: 200px" src="../static/img/logo.png">
		<a class="hip" style="margin-right: 125px;" href="/shop/investment/1"><h2>ПБанк</h2></a>

	</div>
	<div>
		<img style="width: 200px; height: 200px" src="../static/img/logo.png">
		<a class="hip" href="/shop/investment/2"><h2>Сохр.банк</h2></a>
	</div>
	<div>
		<img style="margin-left: 200px; width: 200px; height: 200px" src="../static/img/logo.png">
		<a class="hip" style="margin-left: 200px; " href="/shop/investment/<3>"><h2>БТВ Банк </h2></a>

	</div>
</div>
<div>
	<div>

	</div>
	<div>

	</div>
</div>
{% endblock %}